# Default configuration file
#
# Format:
# function  SDL Key Name   player number (digit)
#
## player number
# player associated with function, number starts with 0
# keys will default to the first player (0) if it's more
# than number of players chosen
#
## function
# run fuyunix with -l flag
# Functions names should be enough to tell what it does
#
## SDL Key Name
# use Key Name NOT Scancode or Keycode
# https://wiki.libsdl.org/SDL_Scancode

# If file contains an error the program will quit

# Configure keys
keys {
	# Player 1
	left  h 1
	down  j 1
	up    k 1
	right l 1
	shoot u 1

	# Player 2
	up    w 2
	left  a 2
	down  s 2
	right d 2
	shoot e 2

	# Note: these functions don't care about player number and will ignore it
	# The player numbers are required however because I'm lazy to program a
	# special path to ignore it
	quit  q 1
	pause Escape 1
}
